*, *::before, *::after {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .format_container {
    padding-top:50px;
    font-family: AvenirNextLTPro-Regular;
    max-width: 1440px;
    min-width: 357px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    background: linear-gradient(200deg, rgba(240,220,197,1) 0%, rgba(229,229,229,1) 29%, rgba(255,255,255,1) 80%);
  }