.fc-wrapper{
    margin-top: 171px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 0px;
    // background-color: yellow;
    .fourth-flex{
      // background-color: green;
      direction: rtl;
      text-align: left;
      .text-wrap{
        text-align: left;
        margin-left: 165px;
        padding-top: 150px;
        h3{
          // background-color: blue;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 33px;
          text-align: left;
          text-transform: uppercase;
          color: $color-main-bright;
          margin-bottom: 0px;
        }
        h2{
          margin-top: 17px;
          // background-color: lightsalmon;
          font-weight: bold;
          font-size: 41px;
          line-height: 110%;
          text-align: left;
          text-transform: uppercase;
          color: $color-main-background;
          margin-bottom: 0px;
        }
        p{
          margin-top: 24px;
          // background-color: cyan;
          font-weight: normal;
          font-size: 16px;
          line-height: 132%;
          letter-spacing: 0.5px;
          color: $color-gray2;
          margin-bottom: 40px;
        }
        .reverse-button{
          direction: ltr;
        }
      }
      .foto-wrap{
        position: relative;
        width: 563px;
        img.foto{
          position: relative;
          z-index: 1;
        }
        .foto-shadow{
          width: 563px;
          height: 545px;
          background: linear-gradient(197.92deg, rgba(239, 128, 49, 0) -227.37%, rgba(239, 128, 49, 0.15) 1.58%, rgba(239, 128, 49, 0) 103.02%);
          position: absolute;
          left: 60px;
          top: 60px;
        }
      }
    }
  }