  //nav needs remake with UL
  .nav{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100%;
    
    width: 80.5%;
    margin-left: auto;
    margin-right: auto;
    .logo-wrapper{
      align-items:center;
      grid-column-start: 1;
      grid-column-end: 2; 
      .logo-ui{
        padding-left: 12px;
      }
    }
    .nav-wrapper{
      grid-column-start: 2;
      grid-column-end: 3;
      flex-wrap: wrap;
      justify-content: flex-end;
      font-size: 16px;
      font-weight: 500;
      align-items: center;
      .nav_link{
        text-decoration: none;
        color: $color-h1;
        padding-left: 24px;
        padding-right: 24px;
        &:hover{
          color: $color-main-bright;
        }
      }
    }
    .button-wrapper{
      align-items: center;
      grid-column-start: 3;
      grid-column-end: 4;
      padding-left: 24px;
      .button-register{
        text-decoration: none;
        color: $color-light;
        background: linear-gradient(102.3deg, $color-main-background -4.62%, #66AC66 178.22%), linear-gradient(102.3deg, #0BB1E3 -4.62%, #0F2976 178.22%), #0E70AF;
        padding: 10px 15px;
        border-radius: 2px ;
        &:hover{
          box-shadow: inset 0 0 80px #F3B562;
        }
      }
    }
  }